@{
    ViewData["Title"] = "Tennis";
}
<!--Abby Harris
    Section 001 - Mission #5
-->

<div class="text-center">
    <h2> Welcome to a page about</h2>
    <h1 class ="display-4"> Tennis!</h1><br />
    <p>Tennis a great sport that you can play when you're young and old!<br />
        It is a great way to exercise, have fun, and enjoy the sun. <br />If you've never played, start today! </p>
    <img src="~/tennisball.jpeg" height="300"/>
    <br /><br />
    <h2>US Open</h2>
    <p>The US open is the largest tennis tournament in the United States of America. <br /> It is played every year during the end of August and beginning of September in New York City. <br /> You can watch world famous tennis players competing all day!</p>
    <img src="~/img_1322.jpg"  height="500"/><br /><br />
    <p>I teach tennis to beginners! You can find an hourly rate on the calculator page.</p><br />
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Calculator">Calculate your lesson price here!</a>
</div>
